$gray: (
    50 : #e4e4e4,
    100 : #bbbcbc,
    200 : #8e8f8f,
    300 : #616262,
    400 : #3f4141,
    500 : #1d1f1f,
    600 : #1a1b1b,
    700 : #151717,
    800 : #111212,
    900 : #0a0a0a,
    A100 : #e07171,
    A200 : #d74747,
    A400 : #eb0000,
    A700 : #d10000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

