$rust-red: (
    50 : #f9e8e6,
    100 : #f0c6bf,
    200 : #e6a095,
    300 : #dc7a6b,
    400 : #d55e4b,
    500 : #cd412b,
    600 : #c83b26,
    700 : #c13220,
    800 : #ba2a1a,
    900 : #ae1c10,
    A100 : #ffe0de,
    A200 : #ffb0ab,
    A400 : #ff8078,
    A700 : #ff685e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
