<mat-card>
  <mat-card-header>
    <div class="d-flex justify-content-between w-100">
      <div></div>
      <h2 class="pt-3">
        <mat-icon [ngClass]="{blink: timerExpired$ | async}" class="timer-icon me-2" color="accent">alarm</mat-icon>
        {{config.label}}</h2>
      <button (click)="onCloseClick()" color="warn" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <div class="container-fluid">
    <div class="row">
      <div [ngClass]="{blink: timerExpired$ | async}" class="col-sm countdown">
        {{countdownDisplay$ | async}}
      </div>
      <div class="col-sm countdown text-start text-sm-end">
        ~ {{approximateDecayTime | date:'h:mm a'}}
      </div>
    </div>
    <div class="row">
      <div class="col coordinates">
        {{config.x}}
        {{config.y}}
      </div>
    </div>
    <div class="row" *ngIf="!!config.notes">
      <div class="col">
        <mat-form-field>
          <textarea [value]="config.notes" disabled matInput></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-card>
